@{
    ViewData["Title"] = "ResetPassword";
}
@model ResetPasswordViewModel
<h2>Create a new password</h2>

<div class="row">



    <div class="alert alert-danger" asp-validation-summary="ModelOnly">
    </div>

    <div class="col-md-8 mx-auto">

       


        <form asp-action="ResetPassword" asp-controller="Home" method="post">


            <div class="row mb-3">
                <label asp-for="Password" class="col-sm-2 col-form-label p-0 mb-1"></label>
                <input class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="PasswordConfirm" class="col-sm-2 col-form-label p-0 mb-1"></label>
                <input class="form-control" asp-for="PasswordConfirm">
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>


            <button type="submit" class="btn btn-primary ">Reset Password</button>
        </form>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial">
    }
