
@{
    ViewData["Title"] = "CityPolicyExample";
}

<h1>CityPolicyExample</h1>

<div class="row">

    <div class="col-10 mx-auto">

        <div class="alert alert-success">

            <p>You have the claim required to access this page</p>

        </div>

    </div>

</div>