
@{
    ViewData["Title"] = "PasswordChange";
}
@model PasswordChangeViewModel
<h1>Password Change</h1>


<div class="row">
   <div class="alert alert-danger" asp-validation-summary="ModelOnly">
    </div>

    <div class="col-md-8 mx-auto">
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">
                @TempData["success"]
            </div>
        }   
        <form asp-action="PasswordChange" asp-controller="Member" method="post">

            <div class="row mb-3">
                <label asp-for="PasswordOld" class="col-sm-2 col-form-label p-0 mb-1"></label>
                <input class="form-control" asp-for="PasswordOld">
                <span asp-validation-for="PasswordOld" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <label asp-for="PasswordNew" class="col-sm-2 col-form-label p-0 mb-1"></label>
                <input class="form-control" asp-for="PasswordNew">
                <span asp-validation-for="PasswordNew" class="text-danger"></span>
            </div>
            <div class="row mb-3">
                <label asp-for="PasswordNewConfirm" class="col-sm-2 col-form-label p-0 mb-1"></label>
                <input class="form-control" asp-for="PasswordNewConfirm">
                <span asp-validation-for="PasswordNewConfirm" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary ">Reset Password</button>
        </form>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial">
}
